.app {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.app h1 {
    color: white;
}

.app div {
    border: .1rem solid lightgrey;
    min-height: 40vh;
    min-width: 15rem;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.app div ul {
    list-style-type: none;
    margin: 0;
    padding: .1rem;
}

.app div ul li {
    padding: .4rem 1rem;
    border-bottom: 1px solid lightgrey;
}

.app form {
    margin: .4rem 0;
}